body{
    background-color: black;
}
*{
    color: snow;
}


/* manera correcta de hacer un menu responsive <3 */
.navbar {
    background-color: black; /* Color de fondo de la barra de navegación */
    padding: 20px; /* Espacio de relleno interno de la barra de navegación */
}
nav{
    position: fixed;
}
.navbar-brand {
    font-size: 14px; /* Tamaño de fuente del logotipo */
    font-weight: bolder; /* Peso de la fuente del logotipo */
}
.navbar-brand .logo {
    color: azure; /* Color del texto del logotipo */
    text-align: left;
    margin-right: 10px;
    font-weight: 10px;
}
.navbar-brand .logo span {
    color: chocolate; /* Color del texto destacado del logotipo */
}
.navbar-nav .nav-item {
    margin: 0; /* Espacio entre elementos del menú */
}
.navbar-nav .nav-link {
    color: azure; /* Color del texto del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}
.navbar-nav .nav-link:hover {
    color: burlywood; /* Color del texto del enlace al pasar el cursor */
}

.navbar-toggler-icon {
    border-color: #333333; /* Color del icono del botón desplegable */
}
.nav-item{
    margin: 100px;
}
/* hast aqui :* */


.galeria {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 20px);
    grid-template-areas: "----  img2 img6 img4 img3" " img1 img2 img5 img4 img8" " img1 img7 img5 img9 img9";
    grid-gap: 10px;
    padding: 10px;
}
.item {
    border: 4px solid #F8FFE5;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}
.item:hover {
    filter: grayscale(50%);
}
.item1 {
    grid-area: img1;
    background-image: url(img/IMG-20220814-WA0015.jpg);
}
.item2 {
    grid-area: img2;
    background-image: url(img/IMG-20221003-WA0007.jpeg);
}
.item3 {
    grid-area: img3;
    background-color: #131B23;
}
.item4 {
    grid-area: img4;
    background-image: url(img/IMG-20230715-WA0014.jpg);
}
.item5 {
    grid-area: img5;
    background-image: url(img/IMG-20231219-WA0051.jpg);
}
.item6 {
    grid-area: img6;
    background-color: #F374AE;
}
.item7 {
    grid-area: img7;
    background-color: #F8FFE5;
}
.item8 {
    grid-area: img8;
    background-color: #48A9A6;
}
.item9 {
    grid-area: img9;
    background-image: url(img/IMG_20231103_151828.jpg);
}


h1{
    margin-left: 70px;
}

hr{
    color: azure;
}

h2{
    margin-left: 20px;
}
li{
    color: burlywood;
    margin-left: 40px;
}

.autor{
    margin-left: 80px;
}
.lista{
    margin-left: 40px;
}


.rectangulo1{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset ;
    margin-right: 40px;
    margin-left: 100px;
    background: rgb(0,0,0);
}
.rectangulo2{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: rgb(255,250,250);
}
.rectangulo3{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: rgb(210,105,30);
}
.rectangulo4{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: rgb(222,184,135);
}
.rectangulo5{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: #F8FFE5;
}
.rectangulo6{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: #131B23;
}
.rectangulo7{
    margin-block-start: 8px;
    height: 16px;
    width: 100px;
    border: 2px outset;
    margin-right: 40px;
    margin-left: 100px;
    background: #48A9A6;
}


footer{
    padding: 20px;
    text-align: center;
    height: 150px;
}
footer p{
    margin-bottom: 20px;
    color: azure;
}
footer .redes a{
    color: azure; 
    text-decoration: none;
}
footer .redes i{
    color: azure;
    font-style: 50px;
}
.correo{
    margin: 10px;
}
.linkedin{
    margin: 20px;
}
.github{
    margin: 10px;
}
.copyright{
    margin: 20px;
    text-align: center;
    position: static;
}

img{
    margin-left: 40px;
}



@media only screen and (min-width: 360px) {
    h1{
        margin-left: 100px;
    }
    .galeria {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 80px);
    }
    img{
        margin-left: 50px;
    }

}
@media only screen and (min-width: 420px) {
    h1{
        margin-left: 120px;
    }
    img{
        margin-left: 60px;
    }
}
@media only screen and (min-width: 520px) {
    h1{
        margin-left: 160px;
    }
    img{
        margin-left: 90px;
    }
}
@media only screen and (min-width: 550px) {
    h1{
        margin-left: 180px;
    }
    img{
        margin-left: 110px;
    }
}
@media only screen and (min-width: 576px) {
    .navbar-brand .logo span {
        margin-right: 280px;
    }
    img{
        margin-left: 30px;
    }
    
}
@media only screen and (min-width: 600px) {
    .navbar-brand .logo span {
        margin-right: 300px;
    }
    h1{
        margin-left: 200px;
    }
    .galeria {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 100px);
    }

}
@media only screen and (min-width: 640px) {
    .navbar-brand .logo span {
        margin-right: 340px;
    }
    h1{
        margin-left: 220px;
    }
    img{
        margin-left: 20px;
    }
}
@media only screen and (min-width: 680px) {
    .navbar-brand .logo span {
        margin-right: 380px;
    }
    h1{
        margin-left: 240px;
    }
    .galeria {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 100px);
    }
    img{
        margin-left: 30px;
    }
}
@media only screen and (min-width: 740px) {
    .navbar-brand .logo span {
        margin-right: 440px;
    }
    h1{
        margin-left: 280px;
    }
    img{
        margin-left: 40px;
    }
}
@media only screen and (min-width: 820px) {
    .navbar-brand .logo span {
        margin-right: 480px;
    }
    h1{
        margin-left: 320px;
    }
    img{
        margin-left: 100px;
    }
}
@media only screen and (min-width: 900px) {
    .navbar-brand .logo span {
        margin-right: 580px;
    }
    h1{
        margin-left: 340px;
    }
    .galeria {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 120px);
    }
    img{
        margin-left:120px;
    }
}
@media only screen and (min-width: 980px) {
    .navbar-brand .logo span {
        margin-right: 640px;
    }
    h1{
        margin-left: 360px;
    }
    img{
        margin-left: 140px;
    }
}
@media only screen and (min-width: 1080px) {
    .navbar-brand .logo span {
        margin-right: 740px;
    }
    h1{
        margin-left: 380px;
    }
    img{
        margin-left: 160px;
    }
}
@media only screen and (min-width: 1140px) {
    h1{
        margin-left: 420px;
    }
}
@media only screen and (min-width: 1180px) {
    h1{
        margin-left: 460px;
    }
}
@media only screen and (min-width: 1220px) {
    h1{
        margin-left: 500px;
    }
}
@media only screen and (min-width: 1260px) {
    h1{
        margin-left: 560px;
    }
}
